In [ ]:
# pandas helps to read and manipulate .csv file
import pandas as pd
import numpy as np

# read .csv file
df = pd.read_csv('us_simplified.csv', sep=',', header=None)
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4,5
0,Date,Admin2,Province/State,Confirmed,Deaths,Country/Region
1,22-01-2020,Autauga,Alabama,0,0,US
2,23-01-2020,Autauga,Alabama,0,0,US
3,24-01-2020,Autauga,Alabama,0,0,US
4,25-01-2020,Autauga,Alabama,0,0,US
...,...,...,...,...,...,...
1048571,22-10-2020,Lincoln,Minnesota,172,0,US
1048572,23-10-2020,Lincoln,Minnesota,176,0,US
1048573,24-10-2020,Lincoln,Minnesota,182,0,US
1048574,25-10-2020,Lincoln,Minnesota,182,0,US
1048575,26-10-2020,Lincoln,Minnesota,184,0,US

In [ ]:
result = df[np.logical_not(df[3].str.contains('0'))]
print(result)

                 0         1               2          3       4  \
0             Date    Admin2  Province/State  Confirmed  Deaths
63      24-03-2020   Autauga         Alabama          1       0
64      25-03-2020   Autauga         Alabama          5       0
65      26-03-2020   Autauga         Alabama          6       0
66      27-03-2020   Autauga         Alabama          6       0
...            ...       ...             ...        ...     ...
131064  20-05-2020  Poinsett        Arkansas         28       2
131066  22-05-2020  Poinsett        Arkansas         31       2
131067  23-05-2020  Poinsett        Arkansas         31       2
131068  24-05-2020  Poinsett        Arkansas         31       2
131071  27-05-2020  Poinsett        Arkansas         31       2

                     5
0       Country/Region
63                  US
64                  US
65                  US
66                  US
...                ...
131064              US
131066              US
131067              US
131068              US
131071              US

[83788 rows x 6 columns]

In [ ]:
data = pd.read_csv('us_simplified.csv')
data.drop('Country/Region', inplace=True, axis=1)
# # print("\nCSV Data after deleting the column 'year':\n")
print(data)
# import pandas

# data = pd.read_csv('us_simplified.csv')
# print(data)
# # display(data.head())
# data['Date'] = pd.to_datetime(data.Date, infer_datetime_format = True)
# # display(data.head())
# data.sort_values(by = 'Date', ascending = True, inplace = True)
# # csv_file = pandas.read_csv('us_simplified.csv' # you can implement options as you want here)
# # sorted_csv = csv_file.sort_values(by=['Province/State'])
# # sorted_csv = csv_file.sort_values(by=['Province/State'])
# # sortedlist = sorted(reader, key=lambda row: row[], reverse=True)
# # display(data.head(10000))
# print("New data")
# print(data)

               Date   Admin2 Province/State  Confirmed  Deaths
0        22-01-2020  Autauga        Alabama          0       0
1        23-01-2020  Autauga        Alabama          0       0
2        24-01-2020  Autauga        Alabama          0       0
3        25-01-2020  Autauga        Alabama          0       0
4        26-01-2020  Autauga        Alabama          0       0
...             ...      ...            ...        ...     ...
1048570  22-10-2020  Lincoln      Minnesota        172       0
1048571  23-10-2020  Lincoln      Minnesota        176       0
1048572  24-10-2020  Lincoln      Minnesota        182       0
1048573  25-10-2020  Lincoln      Minnesota        182       0
1048574  26-10-2020  Lincoln      Minnesota        184       0

[1048575 rows x 5 columns]

In [ ]:
# import pandas as pd

# # Read in your .csv files as dataframes
# # df is a common standard for naming a dataframe. You can
# # name them something more descriptive as well.
# # Using a descriptive name is helpful when you are dealing
# # with multiple .csv files.
# df = pd.read_csv("us_simplified.csv")

# # the .sort_values method returns a new dataframe, so make sure to
# # assign this to a new variable.
# sorted_df = df.sort_values(by=["Province/State"],by=["Admin2"], ascending=True)
# data.sort_values(["depth", "table", "carat"], axis=0,
#                  ascending=[False, True, False], inplace=True)
# # Index=False is a flag that tells pandas not to write
# # the index of each row to a new column. If you'd like
# # your rows to be numbered explicitly, leave this as
# # the default, True
# sorted_df.to_csv('homes_sorted.csv', index=False)
# sorted_df

SyntaxError: ignored

In [ ]:
# importing pandas package
import pandas as pd


# making data frame from csv file
data = pd.read_csv("us_simplified.csv")

data.drop('Country/Region', inplace=True, axis=1)

# sorting data frame by multiple columns
data['Date'] = pd.to_datetime(data.Date, infer_datetime_format = True)
# # display(data.head())
# data.sort_values(by = 'Date', ascending = True, inplace = True)
data.sort_values(["Date"  , "Province/State", "Admin2" ], axis=0,
				ascending=[True, True, True], inplace=True)

# display
print(data.head(900))
# print(data)

  # MERGING #
# import csv
# # header = ['Date', 'Province/State', 'Confirmed', 'Deaths']
# # i = 0
# # x = 0
# # sc = data[0][2]
# # while(i<2486448):
#   # x = i
#   # s = data[x][2]
#   # if s == sc:
#   #   data2[] data[x][3]
# # df2 = pd.DataFrame(columns=['Admin2','Province/State','Confirmed','Deaths'])
# # i = 0
# # count = 0
# # state = data[i][2]
# # date = df[i][0]
# # df2.loc[count, "Date"] = data.loc[i, "Date"]
# # df2.loc[count, "Province/State"] = data.loc[i, "Province/State"]
# # df2.loc[count, "Confirmed"] = data.loc[i, "Confirmed"]
# # df2.loc[count, "Deaths"] = data.loc[i, "Deaths"]
# # i = i+1

# # # while df[i][0] == date:
# # #         df2[count][3] = df2[count][3] + data[i][3]
# # #         df2[count][4] = df2[count][4] + data[i][4]
# # #         i = i + 1
# # #       else:
# # while i<len(df):
# #     while data[i][2] == state and data[i][0] == date:
# #       df2[count][3]= df2[count][3] + data[i][3]
# #       df2[count][4]= df2[count][4] + data[i][4]
# #       i = i + 1
# #     else:
# #       count = count + 1
# #       date = data[i][0]
# #       state = data[i][2]
# #       df2.loc[count, "Date"] = data.loc[i, "Date"]
# #       df2.loc[count, "Province/State"] = data.loc[i, "Province/State"]
# #       df2.loc[count, "Confirmed"] = data.loc[i, "Confirmed"]
# #       df2.loc[count, "Deaths"] = data.loc[i, "Deaths"]
# #       i = i + 1
# data['Deaths_on_day'] = abs(data['Deaths'].shift(1) - data['Deaths'])
# # print(data.head(100).to_string())
# data['Deaths_on_day'] = abs(data['Deaths'].shift(1) - data['Deaths'])
# data['Confirmed_on_day'] = abs(data['Confirmed'].shift(1) - data['Confirmed'])
# i = 744
# while i < len(df):
#     data.loc[i, "Confirmed_on_day"] = 0
#     data.loc[i, "Deaths_on_day"] = 0
#     i = i + 744
# print(data.head(1000).to_string())


# df2 = pd.DataFrame(columns=['Admin2','Province/State','Confirmed','Deaths'])
# i = 0
# count = 0
# state = data.loc[i, "Province/State"]
# date = data.loc[i, "Date"]
# # print("state")
# # print(state)
# df2.loc[count, "Date"] = data.loc[i, "Date"]
# df2.loc[count, "Province/State"] = data.loc[i, "Province/State"]
# df2.loc[count, "Confirmed"] = data.loc[i, "Confirmed"]
# df2.loc[count, "Deaths"] = data.loc[i, "Deaths"]
# i = i+1

# # while df[i][0] == date:
# #         df2[count][3] = df2[count][3] + data[i][3]
# #         df2[count][4] = df2[count][4] + data[i][4]
# #         i = i + 1
# #       else:
# while i<len(df):
#     while data.loc[i, "Province/State"] == state and data.loc[i, "Date"] == date:
#       df2.loc[count, "Confirmed"]= df2.loc[count, "Confirmed"] + data.loc[i, "Confirmed"]
#       df2.loc[count, "Deaths"]= df2.loc[count, "Deaths"] + data.loc[i, "Deaths"]
#       i = i + 1
#     else:
#       count = count + 1
#       date = data.loc[i, "Date"]
#       state = data.loc[i, "Province/State"]
#       df2.loc[count, "Date"] = data.loc[i, "Date"]
#       df2.loc[count, "Province/State"] = data.loc[i, "Province/State"]
#       df2.loc[count, "Confirmed"] = data.loc[i, "Confirmed"]
#       df2.loc[count, "Deaths"] = data.loc[i, "Deaths"]
#       i = i + 1


# df2

             Date     Admin2 Province/State  Confirmed  Deaths
0      2020-01-22    Autauga        Alabama          0       0
744    2020-01-22    Baldwin        Alabama          0       0
1488   2020-01-22    Barbour        Alabama          0       0
2232   2020-01-22       Bibb        Alabama          0       0
2976   2020-01-22     Blount        Alabama          0       0
...           ...        ...            ...        ...     ...
665880 2020-01-22    O'Brien           Iowa          0       0
666624 2020-01-22    Osceola           Iowa          0       0
667368 2020-01-22  Out of IA           Iowa          0       0
668112 2020-01-22       Page           Iowa          0       0
668856 2020-01-22  Palo Alto           Iowa          0       0

[900 rows x 5 columns]

In [ ]:
import pandas as pd
import csv


# making data frame from csv file
data = pd.read_csv("us_simplified.csv")

data.drop('Country/Region', inplace=True, axis=1)

# data['Deaths_on_day'] = abs(data['Deaths'].shift(1) - data['Deaths'])
# print(data.head(100).to_string())
data['Deaths_on_day'] = abs(data['Deaths'].shift(1) - data['Deaths'])
data['Confirmed_on_day'] = abs(data['Confirmed'].shift(1) - data['Confirmed'])
i = 744
while i < len(df):
    data.loc[i, "Confirmed_on_day"] = 0
    data.loc[i, "Deaths_on_day"] = 0
    i = i + 744
data.loc[0, 'Deaths_on_day'] = 0
data.loc[0, 'Confirmed_on_day'] = 0

# print(data.head(10).to_string())

df2 = pd.DataFrame(columns=['Admin2','Province/State','Confirmed','Deaths'])
i = 0
count = 0
state = data.loc[i, "Province/State"]
date = data.loc[i, "Date"]
# print("state")
# print(state)
df2.loc[count, "Date"] = data.loc[i, "Date"]
df2.loc[count, "Province/State"] = data.loc[i, "Province/State"]
df2.loc[count, "Confirmed"] = data.loc[i, "Confirmed"]
df2.loc[count, "Deaths"] = data.loc[i, "Deaths"]
i = i+1

# while df[i][0] == date:
#         df2[count][3] = df2[count][3] + data[i][3]
#         df2[count][4] = df2[count][4] + data[i][4]
#         i = i + 1
#       else:
while i<len(df):
    while data.loc[i, "Province/State"] == state and data.loc[i, "Date"] == date:
      df2.loc[count, "Confirmed"]= df2.loc[count, "Confirmed"] + data.loc[i, "Confirmed"]
      df2.loc[count, "Deaths"]= df2.loc[count, "Deaths"] + data.loc[i, "Deaths"]
      i = i + 1
    else:
      count = count + 1
      date = data.loc[i, "Date"]
      state = data.loc[i, "Province/State"]
      df2.loc[count, "Date"] = data.loc[i, "Date"]
      df2.loc[count, "Province/State"] = data.loc[i, "Province/State"]
      df2.loc[count, "Confirmed"] = data.loc[i, "Confirmed"]
      df2.loc[count, "Deaths"] = data.loc[i, "Deaths"]
      i = i + 1


# df2
print(df2.head(10).to_string())

KeyboardInterrupt: ignored

In [ ]:
import pandas as pd
import numpy as np
import tabulate
import matplotlib.pyplot as plt
import csv

df = pd.read_csv('us_simplified.csv')
# print(df.head(100))
df = df.drop('Country/Region', 1)
# print(df.head(100).to_string())
# df['Deaths_on_day'] = abs(df['Deaths'].shift(1) - df['Deaths'])
# print(df.head(100).to_string())
df['Deaths_on_day'] = abs(df['Deaths'].shift(1) - df['Deaths'])
df['Confirmed_on_day'] = abs(df['Confirmed'].shift(1) - df['Confirmed'])
i = 744
while i < len(df):
    df.loc[i, "Confirmed_on_day"] = 0
    df.loc[i, "Deaths_on_day"] = 0
    i = i + 744
# print(df.head(1000).to_string())
# for i in range(1000):
#     if df.loc[i+1, "Confirmed"] >= df.loc[i, "Confirmed"]:
#         df.loc[i+1, "Confirmed_on_day"] = df.loc[i+1, "Confirmed"]-df.loc[i, "Confirmed"]     
    
# print(df.head(1000).to_string())
# print(df.tail(5000).to_string())
df = df[df.Admin2 != "Unassigned"]
# df = df[df['Admin2'].notna()]
# print(df.tail(5000).to_string())
# df = df.reset_index(drop=True)
# print(df.loc[48358, "Admin2"])
# df2 = pd.DataFrame(columns=['Admin2','Province/State','Confirmed','Deaths'])
# i = 743
# count = 0
# while i < len(df):
#     df2.loc[count, "Confirmed"] = df.loc[i, "Confirmed"]
# #     print(df.loc[i, "Confirmed"])
#     df2.loc[count, "Deaths"] = df.loc[i, "Deaths"] 
# #     print(str(df.loc[i, "Deaths"]) + " " + str(i))
#     df2.loc[count, "Admin2"] = df.loc[i, "Admin2"]
#     df2.loc[count, "Province/State"] = df.loc[i, "Province/State"]
#     i = i + 744
#     count = count + 1
df.set_index(['Date','Province/State'], inplace=True)
# df
# df['Deaths_on_day'] = abs(df['Deaths'].shift(1) - df['Deaths'])
# df['Confirmed_on_day'] = abs(df['Confirmed'].shift(1) - df['Confirmed'])
# i = 744
# while i < len(df):
#     df.loc[i, "Confirmed_on_day"] = 0
#     df.loc[i, "Deaths_on_day"] = 0
#     i = i + 744
# df
# df.set_index(['Date','Province/State'], inplace=True)
# df
df.sort_index(inplace=True)
# df
# df
df = df[df['Admin2'].notna()]
# df
print(df.head(400).to_string())
# print(df2.to_markdown())
# x = []
# y = []
  
# with open('df2','r') as csvfile:
#     plots = csv.reader(csvfile, delimiter = ',')
      
#     for row in plots:
#         x.append(row[0])
#         y.append(int(row[2]))
  
# plt.bar(x, y, color = 'b', width = 0.72, label = "Age")
# plt.xlabel('Cities')
# plt.ylabel('Cases')
# plt.title('Total Cases in different cities')
# plt.legend()
# plt.show()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  if __name__ == '__main__':

                                                              Admin2  Confirmed  Deaths  Deaths_on_day  Confirmed_on_day
Date       Province/State
01-01-2021 Alabama                                           Autauga       4239      50            2.0              49.0
           Alabama                                           Baldwin      13823     169            8.0             222.0
           Alabama                                           Barbour       1517      33            1.0               3.0
           Alabama                                              Bibb       1854      46            0.0              20.0
           Alabama                                            Blount       4693      63            0.0              52.0
           Alabama                                           Bullock        888      22            0.0              29.0
           Alabama                                            Butler       1522      45            0.0              14.0
           Alabama                                           Calhoun       9584     157            1.0              90.0
           Alabama                                          Chambers       2366      63            0.0              25.0
           Alabama                                          Cherokee       1429      22            0.0              15.0
           Alabama                                           Chilton       3004      54            0.0              34.0
           Alabama                                           Choctaw        491      22            0.0               1.0
           Alabama                                            Clarke       2418      26            1.0              28.0
           Alabama                                              Clay       1150      34            0.0               9.0
           Alabama                                          Cleburne       1036      16            0.0              10.0
           Alabama                                            Coffee       3643      38            0.0              49.0
           Alabama                                           Colbert       4701      60            0.0              41.0
           Alabama                                           Conecuh        839      17            0.0               2.0
           Alabama                                             Coosa        519       7            0.0               2.0
           Alabama                                         Covington       2931      40            0.0              18.0
           Alabama                                          Crenshaw        960      36            0.0               6.0
           Alabama                                           Cullman       7194      78            0.0             115.0
           Alabama                                              Dale       3371      63            0.0              46.0
           Alabama                                            Dallas       2821      43            0.0              52.0
           Alabama                                            DeKalb       6978      62            1.0              78.0
           Alabama                                            Elmore       6542      83            0.0             107.0
           Alabama                                          Escambia       2682      34            0.0              21.0
           Alabama                                            Etowah      10110      96            2.0              79.0
           Alabama                                           Fayette       1441      19            0.0              11.0
           Alabama                                          Franklin       3300      37            0.0              30.0
           Alabama                                            Geneva       1691      20            0.0              14.0
           Alabama                                            Greene        679      20            0.0               7.0
           Alabama                                              Hale       1468      33            0.0              28.0
           Alabama                                             Henry       1268       8            0.0              21.0
           Alabama                                           Houston       7371      64            0.0              92.0
           Alabama                                           Jackson       5183      34            0.0              86.0
           Alabama                                         Jefferson      53058     719           22.0             719.0
           Alabama                                             Lamar       1065      15            0.0               9.0
           Alabama                                        Lauderdale       6566      70            0.0              88.0
           Alabama                                          Lawrence       2082      43            1.0              38.0
           Alabama                                               Lee      10450      75            0.0             130.0
           Alabama                                         Limestone       6879      58            0.0              57.0
           Alabama                                           Lowndes        951      32            0.0               6.0
           Alabama                                             Macon       1009      30            0.0              10.0
           Alabama                                           Madison      22590     179            1.0             393.0
           Alabama                                           Marengo       1812      26            0.0              19.0
           Alabama                                            Marion       2112      43            0.0              25.0
           Alabama                                          Marshall       9271      86            0.0              82.0
           Alabama                                            Mobile      26151     508            2.0             293.0
           Alabama                                            Monroe       1226      11            0.0              11.0
           Alabama                                        Montgomery      16240     276            0.0             124.0
           Alabama                                            Morgan      10817      89            2.0             190.0
           Alabama                                         Out of AL          0       0            0.0               0.0
           Alabama                                             Perry        879      10            0.0              12.0
           Alabama                                           Pickens       1756      26            0.0              22.0
           Alabama                                              Pike       2029      23            0.0               6.0
           Alabama                                          Randolph       1262      30            0.0              17.0
           Alabama                                           Russell       2824       6            0.0              31.0
           Alabama                                            Shelby      15877     103            0.0             209.0
           Alabama                                         St. Clair       6577      73            0.0             110.0
           Alabama                                            Sumter        857      24            0.0               8.0
           Alabama                                         Talladega       5211      76            1.0              46.0
           Alabama                                        Tallapoosa       2383      98            0.0              15.0
           Alabama                                        Tuscaloosa      18745     218            0.0             277.0
           Alabama                                            Walker       5296     138            0.0              37.0
           Alabama                                        Washington       1199      24            0.0              15.0
           Alabama                                            Wilcox        890      19            0.0               7.0
           Alabama                                           Winston       1977      30            0.0               9.0
           Alaska                                     Aleutians East         39       0            0.0               0.0
           Alaska                                     Aleutians West        198       0            0.0               0.0
           Alaska                                          Anchorage      22922     120            0.0               0.0
           Alaska                                             Bethel       2428       9            0.0               0.0
           Alaska                                        Bristol Bay          0       0            0.0               0.0
           Alaska                Bristol Bay plus Lake and Peninsula        158       0            0.0               0.0
           Alaska                                            Chugach        221       3            0.0               0.0
           Alaska                                       Copper River        157       0            0.0               5.0
           Alaska                                             Denali         60       0            0.0               0.0
           Alaska                                         Dillingham        122       1            0.0               0.0
           Alaska                               Fairbanks North Star       4929      19            0.0               0.0
           Alaska                                             Haines         22       0            0.0               0.0
           Alaska                                      Hoonah-Angoon          0       0            0.0               0.0
           Alaska                                             Juneau       1050       5            0.0               0.0
           Alaska                                    Kenai Peninsula       3627      17            0.0               0.0
           Alaska                                  Ketchikan Gateway        240       0            0.0               0.0
           Alaska                                      Kodiak Island        914       2            0.0               0.0
           Alaska                                           Kusilvak        767       2            0.0               0.0
           Alaska                                  Matanuska-Susitna       6381      16            0.0               0.0
           Alaska                                               Nome        275       0            0.0               0.0
           Alaska                                        North Slope        806       2            0.0               0.0
           Alaska                                   Northwest Arctic        401       0            0.0               0.0
           Alaska                                          Out of AK          0       0            0.0               0.0
           Alaska                                         Petersburg         31       1            0.0               0.0
           Alaska                              Prince of Wales-Hyder         72       1            0.0               0.0
           Alaska                                              Sitka        270       0            0.0               0.0
           Alaska                                            Skagway         17       0            0.0               0.0
           Alaska                                Southeast Fairbanks        408       3            0.0               0.0
           Alaska                                     Valdez-Cordova          0       0            0.0               0.0
           Alaska                                           Wrangell         25       0            0.0               0.0
           Alaska                                            Yakutat         52       1            0.0               0.0
           Alaska                                      Yukon-Koyukuk        209       4            0.0               0.0
           Arizona                                            Apache       7594     244            7.0             156.0
           Arizona                                           Cochise       7585     136            6.0             105.0
           Arizona                                          Coconino      11344     214            4.0             218.0
           Arizona                                              Gila       4552     136            1.0              35.0
           Arizona                                            Graham       3287      51            0.0              59.0
           Arizona                                          Greenlee        403       4            0.0               3.0
           Arizona                                            La Paz       1523      35            0.0              59.0
           Arizona                                          Maricopa     325404    5196           86.0            6577.0
           Arizona                                            Mohave      12892     349            5.0             319.0
           Arizona                                            Navajo      11559     347            5.0             263.0
           Arizona                                         Out of AZ          0       0            0.0               0.0
           Arizona                                              Pima      70563    1082           18.0            1041.0
           Arizona                                             Pinal      28137     372            5.0             488.0
           Arizona                                        Santa Cruz       6082     101            3.0              80.0
           Arizona                                           Yavapai      11530     221            3.0             211.0
           Arizona                                              Yuma      27812     527            8.0             446.0
           Arkansas                                         Arkansas       1324      31            1.0              10.0
           Arkansas                                           Ashley       1291      21            0.0              18.0
           Arkansas                                           Baxter       2114      71            0.0              49.0
           Arkansas                                           Benton      18355     266            2.0             597.0
           Arkansas                                            Boone       2593      68            0.0              22.0
           Arkansas                                          Bradley        957      15            4.0              17.0
           Arkansas                                          Calhoun        239       1            0.0               5.0
           Arkansas                                          Carroll       2110      30            0.0              37.0
           Arkansas                                           Chicot       1418      30            0.0               8.0
           Arkansas                                            Clark       1388      21            0.0              17.0
           Arkansas                                             Clay       1332      31            1.0              15.0
           Arkansas                                         Cleburne       1286      38            0.0              50.0
           Arkansas                                        Cleveland        577      19            2.0               6.0
           Arkansas                                         Columbia       1591      43            2.0              24.0
           Arkansas                                           Conway       1343      16            0.0              37.0
           Arkansas                                        Craighead      10176     136            0.0              99.0
           Arkansas                                         Crawford       4542      59            1.0              91.0
           Arkansas                                       Crittenden       4360      74            1.0              41.0
           Arkansas                                            Cross       1424      36            0.0              30.0
           Arkansas                                           Dallas        490      11            0.0               8.0
           Arkansas                                            Desha        967      11            0.0              14.0
           Arkansas                                             Drew       1463      19            0.0              15.0
           Arkansas                                         Faulkner       7817      94            2.0             199.0
           Arkansas                                         Franklin       1111      25            0.0              23.0
           Arkansas                                           Fulton        895      36            0.0              11.0
           Arkansas                                          Garland       5898     154            1.0             116.0
           Arkansas                                            Grant       1101      12            0.0              30.0
           Arkansas                                           Greene       4463      52            1.0              32.0
           Arkansas                                        Hempstead       1240      11            0.0              20.0
           Arkansas                                       Hot Spring       3661      56            1.0              25.0
           Arkansas                                           Howard       1113      18            0.0               7.0
           Arkansas                                     Independence       2809      94            1.0              58.0
           Arkansas                                            Izard       1334      13            0.0              36.0
           Arkansas                                          Jackson       2831      22            0.0              10.0
           Arkansas                                        Jefferson       6797     129            2.0              79.0
           Arkansas                                          Johnson       1885      20            0.0              62.0
           Arkansas                                        Lafayette        345       4            0.0               3.0
           Arkansas                                         Lawrence       1587      35            0.0              13.0
           Arkansas                                              Lee       1449      26            0.0              19.0
           Arkansas                                          Lincoln       2828      24            0.0               8.0
           Arkansas                                     Little River        827      39            1.0               6.0
           Arkansas                                            Logan       1453      11            0.0              34.0
           Arkansas                                           Lonoke       4235      81            2.0             102.0
           Arkansas                                          Madison       1048      12            0.0              23.0
           Arkansas                                           Marion        655      24            0.0              26.0
           Arkansas                                           Miller       2783      25            0.0              34.0
           Arkansas                                      Mississippi       4411      95            1.0              18.0
           Arkansas                                           Monroe        486       7            0.0              11.0

In [ ]:
#importing library
import pandas as pd
import seaborn as sns
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import pylab
import math
#reading the dataset
cp = pd.read_csv('usa_final.csv')
#taking the subset of the data
# cp=cp[['symboling','wheelbase','carlength','carwidth','carheight','curbweight','boreratio','stroke','compressionratio','horsepower','peakrpm','citympg','highwaympg','price']]
#printing first five rows of the data
# cp.head()
cp.skew()
# sns.kdeplot(cp.Confirmed_on_day);
# stats.probplot(cp.Confirmed_on_day,plot=pylab);
def normality(usa_final,Confirmed_on_day):
    plt.figure(figsize=(10,5))
    plt.subplot(1,2,1)
    sns.kdeplot(usa_final[Confirmed_on_day])
    plt.subplot(1,2,2)
    stats.probplot(usa_final[Confirmed_on_day],plot=pylab)
    # plt.show()
# stats.probplot(cp.Confirmed_on_day,plot=pylab);
# cp['Confirmed_on_day_log']=np.log(cp['Confirmed_on_day'])
# normality(cp,'Confirmed_on_day_log')
# cp['Confirmed_on_day_reciprocal']=1/cp.Confirmed_on_day
# normality(cp,'Confirmed_on_day_reciprocal')
cp['Confirmed_on_day_sqroot']=np.sqrt(cp.Confirmed_on_day)
print('Confirmed_on_day_sqroot')
# normality(cp,'Confirmed_on_day_sqroot')
# cp['cod_us_new']=np.sqrt(cp.Confirmed_on_day)
# cod = cp['cod_us_new']
cp['Confirmed_on_day_sqroot'].mean()


# cp['Confirmed_on_day_exponential']=cp.Confirmed_on_day**(1/1.2)
# normality(cp,'Confirmed_on_day_exponential')
# cp['Confirmed_on_day_Boxcox'],parameters=stats.boxcox(cp['Confirmed_on_day'])
# normality(cp,'Deaths_on_day_Boxcox')

Confirmed_on_day_sqroot

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

277.1503705282212

In [ ]:
import pandas as pd
import numpy as np
import tabulate

df = pd.read_csv('us_simplified.csv')
print(df.head(100))
df = df.drop('Country/Region', 1)
print(df.head(20).to_string())
df['Deaths_on_day'] = abs(df['Deaths'].shift(1) - df['Deaths'])
df['Confirmed_on_day'] = abs(df['Confirmed'].shift(1) - df['Confirmed'])
i = 744
while i < len(df):
    df.loc[i, "Confirmed_on_day"] = 0
    df.loc[i, "Deaths_on_day"] = 0
    i = i + 744
# df
df.set_index(['Date','Province/State'], inplace=True)
# df
df.sort_index(inplace=True)
# df
# df
df = df[df['Admin2'].notna()]
df.sort_values(["Date","Province/State", "Admin2" ], axis=0,
				ascending=[True, True, True], inplace=True)
df

          Date   Admin2 Province/State  Confirmed  Deaths Country/Region
0   22-01-2020  Autauga        Alabama          0       0             US
1   23-01-2020  Autauga        Alabama          0       0             US
2   24-01-2020  Autauga        Alabama          0       0             US
3   25-01-2020  Autauga        Alabama          0       0             US
4   26-01-2020  Autauga        Alabama          0       0             US
..         ...      ...            ...        ...     ...            ...
95  26-04-2020  Autauga        Alabama         36       2             US
96  27-04-2020  Autauga        Alabama         37       3             US
97  28-04-2020  Autauga        Alabama         39       4             US
98  29-04-2020  Autauga        Alabama         41       4             US
99  30-04-2020  Autauga        Alabama         42       4             US

[100 rows x 6 columns]
          Date   Admin2 Province/State  Confirmed  Deaths
0   22-01-2020  Autauga        Alabama          0       0
1   23-01-2020  Autauga        Alabama          0       0
2   24-01-2020  Autauga        Alabama          0       0
3   25-01-2020  Autauga        Alabama          0       0
4   26-01-2020  Autauga        Alabama          0       0
5   27-01-2020  Autauga        Alabama          0       0
6   28-01-2020  Autauga        Alabama          0       0
7   29-01-2020  Autauga        Alabama          0       0
8   30-01-2020  Autauga        Alabama          0       0
9   31-01-2020  Autauga        Alabama          0       0
10  01-02-2020  Autauga        Alabama          0       0
11  02-02-2020  Autauga        Alabama          0       0
12  03-02-2020  Autauga        Alabama          0       0
13  04-02-2020  Autauga        Alabama          0       0
14  05-02-2020  Autauga        Alabama          0       0
15  06-02-2020  Autauga        Alabama          0       0
16  07-02-2020  Autauga        Alabama          0       0
17  08-02-2020  Autauga        Alabama          0       0
18  09-02-2020  Autauga        Alabama          0       0
19  10-02-2020  Autauga        Alabama          0       0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  import sys

                                      Admin2  Confirmed  Deaths  \
Date       Province/State
01-01-2021 Alabama                   Autauga       4239      50
           Alabama                   Baldwin      13823     169
           Alabama                   Barbour       1517      33
           Alabama                      Bibb       1854      46
           Alabama                    Blount       4693      63
...                                      ...        ...     ...
31-12-2021 Minnesota             Koochiching       1996      29
           Minnesota           Lac qui Parle       1341      26
           Minnesota                    Lake       1475      26
           Minnesota       Lake of the Woods        566       5
           Minnesota                Le Sueur       5074      41

                           Deaths_on_day  Confirmed_on_day
Date       Province/State
01-01-2021 Alabama                   2.0              49.0
           Alabama                   8.0             222.0
           Alabama                   1.0               3.0
           Alabama                   0.0              20.0
           Alabama                   0.0              52.0
...                                  ...               ...
31-12-2021 Minnesota                 0.0               0.0
           Minnesota                 0.0               0.0
           Minnesota                 0.0               0.0
           Minnesota                 0.0               0.0
           Minnesota                 0.0               0.0

[1045599 rows x 5 columns]

In [ ]:
import pandas as pd


# making data frame from csv file
data = pd.read_csv("us_simplified.csv")

data.drop('Country/Region', inplace=True, axis=1)

# sorting data frame by multiple columns
data.sort_values(["Date", "Admin2" , "Province/State" ], axis=0,
				ascending=[True, True, True], inplace=True)

# display
print(data.head(100))

               Date      Admin2 Province/State  Confirmed  Deaths
859665   01-01-2021      Acadia      Louisiana       5082     153
432609   01-01-2021         Ada          Idaho      38262     355
614145   01-01-2021       Adair           Iowa        610      17
768897   01-01-2021       Adair       Kentucky       1202      39
191553   01-01-2021       Adams       Colorado      40304     521
...             ...         ...            ...        ...     ...
864129   01-01-2021   Bienville      Louisiana       1202      47
1022601  01-01-2021   Big Stone      Minnesota        434       3
436329   01-01-2021     Bingham          Idaho       3649      46
618609   01-01-2021  Black Hawk           Iowa      12820     218
547185   01-01-2021   Blackford        Indiana        895      24

[100 rows x 5 columns]

In [ ]:

cod_mean =

In [ ]:
#importing library
import pandas as pd
import seaborn as sns
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import pylab
import math
#reading the dataset
cp = pd.read_csv('usa_final.csv')
#taking the subset of the data
# cp=cp[['symboling','wheelbase','carlength','carwidth','carheight','curbweight','boreratio','stroke','compressionratio','horsepower','peakrpm','citympg','highwaympg','price']]
#printing first five rows of the data
# cp.head()
cp.skew()
# sns.kdeplot(cp.Confirmed_on_day);
# stats.probplot(cp.Confirmed_on_day,plot=pylab);
def normality(usa_final,Confirmed_on_day):
    plt.figure(figsize=(10,5))
    plt.subplot(1,2,1)
    sns.kdeplot(usa_final[Confirmed_on_day])
    plt.subplot(1,2,2)
    stats.probplot(usa_final[Confirmed_on_day],plot=pylab)
    # plt.show()
# stats.probplot(cp.Confirmed_on_day,plot=pylab);
# cp['Confirmed_on_day_log']=np.log(cp['Confirmed_on_day'])
# normality(cp,'Confirmed_on_day_log')
# cp['Confirmed_on_day_reciprocal']=1/cp.Confirmed_on_day
# normality(cp,'Confirmed_on_day_reciprocal')
cp['Confirmed_on_day_sqroot']=np.sqrt(cp.Confirmed_on_day)
cp['Deaths_on_day_sqroot']=np.sqrt(cp.Deaths_on_day)
print('Confirmed_on_day_sqroot')
# normality(cp,'Confirmed_on_day_sqroot')
# cp['cod_us_new']=np.sqrt(cp.Confirmed_on_day)
# cod = cp['cod_us_new']
cp['Confirmed_on_day_sqroot'].mean()
cp['Deaths_on_day_sqroot'].mean()


# cp['Confirmed_on_day_exponential']=cp.Confirmed_on_day**(1/1.2)
# normality(cp,'Confirmed_on_day_exponential')
# cp['Confirmed_on_day_Boxcox'],parameters=stats.boxcox(cp['Confirmed_on_day'])
# normality(cp,'Deaths_on_day_Boxcox')

Confirmed_on_day_sqroot

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

32.8687273034253

In [ ]:
cod_mean = cp['Confirmed_on_day_sqroot'].mean()
print(cod_mean)
cod_sd = np.std(cp['Confirmed_on_day_sqroot'])
print(cod_sd)

277.1503705282212
185.21160542130264

In [ ]:
testmean = cp['Confirmed_on_day_sqroot']sample(n = 70)
print(testmean)

SyntaxError: ignored

In [ ]:
hypMean = 295
N=745

#Z test for cod_sqrt

In [ ]:
z = (cod_mean-295)/(cod_sd/math.sqrt(745))
print(z)

-2.6305050837541057

T test on cod_sqrt

In [ ]:
import scipy.stats as st
st.ttest_1samp(cp['Confirmed_on_day_sqroot'],295)

Ttest_1sampResult(statistic=-2.6269718315431967, pvalue=0.00879242321089452)

Z test on dod_sqrt

In [ ]:
dod_mean = cp['Deaths_on_day_sqroot'].mean()
print(dod_mean)
dod_sd = np.std(cp['Deaths_on_day_sqroot'])
print(dod_sd)
hypMean = 34.5
N=745
z = (dod_mean-34.5)/(dod_sd/math.sqrt(745))
print(z)

32.8687273034253
17.499047343389265
-2.5444287697984618

T test on dod_sqrt

Z test on confirmed cases on day

In [ ]:
import scipy.stats as st
st.ttest_1samp(cp['Deaths_on_day_sqroot'],34.5)

Ttest_1sampResult(statistic=-2.5410111339109434, pvalue=0.011255516707951808)

In [ ]:
mean1 = cp[['Confirmed_on_day']].iloc[[11,39]].mean(axis=0)
print(mean1)

Confirmed_on_day    6.5
dtype: float64

In [ ]:
standard_deviation1= cp[['Confirmed_on_day']].iloc[[11,39]].std(axis=0)
print(standard_deviation1)

Confirmed_on_day    9.192388
dtype: float64

In [ ]:
mean2 = cp[['Confirmed_on_day']].iloc[[40,70]].mean(axis=0)
print(mean2)

Confirmed_on_day    17099.5
dtype: float64

In [ ]:
standard_deviation2= cp[['Confirmed_on_day']].iloc[[40,70]].std(axis=0)
print(standard_deviation2)

Confirmed_on_day    24154.060539
dtype: float64

In [ ]:
import math
num_z = 17099.5-6.5-0
a = ((standard_deviation1*standard_deviation1)/29)+ ((standard_deviation2*standard_deviation2)/31)
den_z = math.sqrt(a)
z = num_z/den_z
print(z)

3.940115523625636

4338.197674029434

3.940115523625636

Hypothesis for deaths

In [ ]:
death_mean1=cp[['Deaths_on_day']].iloc[[40,70]].mean(axis=0)
print(death_mean1)

Deaths_on_day    879.0
dtype: float64

In [ ]:
death_standard_deviation1= cp[['Deaths_on_day']].iloc[[40,70]].std(axis=0)
print(death_standard_deviation1)

Deaths_on_day    1236.022654
dtype: float64

In [ ]:
death_mean2 = cp[['Deaths_on_day']].iloc[[71,100]].mean(axis=0)
print(death_mean2)

Deaths_on_day    1889.0
dtype: float64

In [ ]:
death_standard_deviation2= cp[['Deaths_on_day']].iloc[[71,100]].std(axis=0)
print(death_standard_deviation2)

Deaths_on_day    381.837662
dtype: float64

In [ ]:
death_num_z = 1889-879-0
print(death_num_z)

1010

In [ ]:
b = ((death_standard_deviation1*death_standard_deviation1)/31)+ ((death_standard_deviation2*death_standard_deviation2)/30)
death_den_z = math.sqrt(b)
print(death_den_z)

232.68502869898003

In [ ]:
death_z = death_num_z/death_den_z
print(death_z)

4.340631649776732